<h1>Editing cluster_configuration</h1>

<%= render 'form' %>

<%= link_to 'Add machine', new_machine_cluster_configuration_path(@cluster_configuration) %> |
<%= link_to 'Show', @cluster_configuration %> |
<%= link_to 'Back', cluster_configurations_path %>