<script type="text/javascript" src="/js/service.js"></script>

<%- if @machine == -1 %>
    <div>
      <%= @message %>
    </div>
<%- else %>
    <body onload="timer = setInterval(function () {
                get_progress(<%= @machine %>)
            }, 5000)">
    <div class="row">
      <p class="bg-info" id="stage_1"> 正在准备开始</p>
      <p class="bg-info" id="stage_2"> 正在配置虚拟机环境</p>
      <p class="bg-info" id="stage_3"> 正在准备代理</p>
      <div class="alert alert-danger" style="display:none" role="alert" id="failure_info">
        Failure! Please try later.
      </div>
      <div class="alert alert-success" style="display:none" role="alert" id="success_info">
        Success! Enjoy yourself.
      </div>
    </div>
    <iframe class="row" id="iframe" frameborder="0" height="500" r></iframe>
    </body>
<%- end %>