<h1>Dispatch#service</h1>
<script type="text/javascript" src="/js/service.js"></script>

<%- if @machine == -1 %>
    <div>
      <%= @message %>
    </div>
<%- else %>
    <body onload="timer = setInterval(function () {
                get_progress(<%= @machine %>)
            }, 5000)">
        <div id="infoBar">
          Information can be seen here.
        </div>
    </body>
    <iframe id="iframe"></iframe>
<%- end %>